.body-container {
    width: 1600px;
    margin: 0 auto;
    min-height: 1200px;
    box-sizing: border-box;
}

body {
    /* font-family: Roboto, Arial, sans-serif; */
    font-family: 'Open Sans',
    sans-serif;
}

.header {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 50%;
}

.navigation {
    border: 3px solid violet; /* потом удалить */
    display: flex;
    justify-content: center;   
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #222B3A;
    width: 50%;
}

.hero {
    display: flex;
    height: 511px;
    background: #296dce;
    color: #fff;
    padding: 0 250px;
    box-sizing: border-box;
}

.hero img {
    /*width: 339px;*/
    height: 479px;
}

.hero-title {
    display: flex;
    align-items: center;
    width: 622px;
    height: 184px;
    font-size: 38px;
    line-height: 53px;
    margin-top: 66px;
    font-weight: bold;
}

.hero-name {
    width: 318px;
    font-size: 24px;
    color: #FF8A00;
    font-weight: bold;
}

.hero-button {
    display: flex;
    width: 209px;
    height: 44px;
    margin-top: 29px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.5s linear;
}

.hero-button:hover {
    font-size: 16px;
    background-color: #fff;
    color: #296DCE;
}

.menu {

}

.themes {
    display: flex;
    height: 99px;
    background: #FAFAFA;
    justify-content: space-around;
    align-items: center;
}

.drop-down-menu {
    display: flex;
    align-items: center;
    color: #F78000;
    font-size: 14px;
    border: 1px solid orange;
    width: 242px;
    height: 44px;
    padding: 0 30px 0 15px; /* проверить, тут не совсем так */
    
}

.main-container {
    margin: 26px auto;
}

/*
@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova/ProximaNova.eot?#iefix")format("embedded-opentype"),
        url("../fonts/ProximaNova/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova/ProximaNova.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
*/

.lesson-section {
    display: flex;
    height: 203px;
    width: 1110px;
    margin: 19px auto;
    box-sizing: border-box;
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    /* font-family: 'Proxima Nova'; */
    padding-top: 25px;
}

.lesson-section-num {
    width: 148px;
    font-size: 64px;
    color: #E1E1E1;
    line-height: 78px;
    text-align: center;    
}

.lesson-section-main {
    width: 800px;
}

.lesson-section-progress {
    padding-right: 42px;
}

.lesson-section-progress-full {
    width: 15px;
    height: 121px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    background: #F3F3F3;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    line-height: 17px;
    
}

.lesson-section-progress-bar {
    width: 9px;
    height: 87px;
    background: linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
    border-radius: 1px;
    margin: 0 auto;
    
}

.title-text-style {
    font-size: 24px;
    color: #1092CB;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 29px;
    font-weight: bold;
}

.age-text-style {
    font-size: 16px;
    line-height: 19px;
    color: #979FAD;
    margin-top: 5px;
}

.lesson-text-style {
    width: 799px;
    height: 71px;
    font-size: 16px;
    line-height: 27px;
    color: #696969;
}

.lesson-date-style {
    height: 28px;
    font-size: 16px;
    line-height: 27px;
    color: #696969;
    font-weight: bold;
}


.footer {
    display: flex;
    background-color: #0099DD;
    height: 350px;
    color: white;
    padding: 33px auto 45px 264px;
    justify-content: center;
}

.footer div {
    margin: 0 130px 0 0;
}

.end-line {
    background-color: black;
    height: 47px;
}

